<h1 class="bg-primary text-white p-4 mb-4">APi</h1>

<div class="container">

  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <table class="table table-responsive">
        <thead>
          <th>Sr no</th>
          <th>Name</th>
          <th>Airline name</th>
          <th>Airline country</th>
          <th>Airline Logo</th>
        </thead>
        <tbody>
          <tr *ngFor="let data of passData; let i = index">
            <td>
              {{((currentPage - 1) * 10) + i + 1}}
            </td>
            <td>
              {{data.name}}
            </td>
            <td>
              {{data.airline[0].name}}
            </td>
            <td>
              {{data.airline[0].country}}
            </td>
            <td>
              <img width="120px" [src]="data.airline[0].logo" alt="" class="img-responsive">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <ul class="list-inline">
        <button class="btn btn-primary" (click)="onPrevClick()" [disabled]="currentPage === 1">
          {{"<<"}} </button>

            <li class="list-inline-item mx-3">Page {{currentPage}}</li>
            <button class="btn btn-primary" (click)="onNextClick()">
              >>
            </button>
      </ul>

    </div>
  </div>
</div>